@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  background-image: linear-gradient(to right, #1f0b11, #240914, #290617, #2e031b, #32001f);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}